.container {
  width: 80%;
  background: gray;
  margin: 50px auto;
  padding: 10px;
}

.question {
  // width: 600px;
  height: 50px;
  background: rgba(white, .5);
  margin: 10px auto;
}

.questionBtn {
  background: red;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;

  &:hover {
    background: black;
    color: white;
  }
}

.guessBtn {
  @extend .questionBtn;
  text-align: center;
}

textarea {
  width: 99%;
}

.check {
  text-align: center;
  color: green;
  font-size: 40px;
  display: none;
}

.wrong {
  text-align: center;
  font-size: 40px;
  display: none;
  color: red;
}
